@model GestiLog.Models.EditorUserViewModel
@{
    ViewBag.Title = "Usuario";
}

<div class="row">
    <!-- column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Modificar @ViewBag.Title</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Edit", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.Id)
                <div class="box-body">
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-info"></i> Importante!</h4>
                        Los cambios que aplique al usuario se demorarán hasta 5 minutos en implementarse.
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Role)
                        @Html.DropDownList("Role", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control itouppercase", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-right">
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger btn-sm" })
                    <input type="submit" value="Registrar" class="btn btn-default btn-sm" />
                </div>
            }
        </div>
        <!-- /.box -->
    </div>
    <!--/.col -->
</div>
<!-- /.row -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




